.container{
    margin-top: 0.5%;
    margin-left:30px 0;
    margin-left:30px 0;
    margin-bottom: 00.5%;
}

.card{
    margin: 0 0.5% !important ;
}
.infected{
    border-bottom: 10px solid rgba(0,0,255,0.5);
    margin: 0 0.5% !important ;
    text-align: center;
    font-weight: bolder;
    
}
.recovered{
    border-bottom: 10px solid rgba(0,255,0,0.5);
    text-align: center;

}
.deaths{
    border-bottom: 10px solid rgba(255,0,0,0.5);
    text-align: center;

}