.App{
  max-width: 100vw;
  overflow-x: hidden;
}

.heading{
  width: max-content;
  font-family: "Archivo Black", "Archivo", sans-serif;
}
/* 
h1 {
    width: 100%;
    font-size: 45px;
    
    position: relative;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
  } */
  

  
  